/* HERO LAYOUT ------------------------------------ */
.hero {
  width: 90vw;
  height: 91vh;
  margin: auto;
  padding: 2rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -5%);
  gap: 3rem;
}

.heroLeft {
  width: 50vw;
}

/* HERO IMAGE ------------------------------------- */
.heroRight {
  width: 35vw;
  max-width: 30rem;
  overflow: hidden;
  border-radius: 1rem;
}

.heroRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* FONTS AND TYPOGRAPHY -----------------------------*/
.hero h1 {
  font-size: 3.125rem;
  margin: 1rem 0 1rem 0;
}

/* BUTTONS ----------------------------------------- */
.heroActions {
  margin-top: 3rem;
}

.heroActions .btnPrimary {
  margin-right: 2rem;
}

.btn {
  font-size: 1.125rem;
}

.btnPrimary {
  background-color: #ffb7cd;
  padding: 1rem;
  border-radius: 1rem;
  transition: background-color 0.1s ease-in-out;
}

.btnPrimary:hover {
  background-color: #df98ad;
  color: black;
}

.btnOutline {
  border-bottom: 0.1px solid #f9eff1;
  transition:
    border-bottom 0.3s ease-in-out,
    color 0.1s ease-in-out;
}

.btnOutline:hover {
  border-bottom: 0.1px solid #555;
}

/* LINKS ------------------------------------------------- */
a:hover {
  color: #555;
}
