/* HERO LAYOUT ------------------------------------ */
.hero {
  width: 100vw;
  height: 93vh;
  margin: auto;
  padding: 2rem 0;

  display: flex;
  justify-content: left;
  align-items: flex-end;

  background-image: url(images/Nail_product\ 1png.png);
  background-size: cover;
}

.heroLeft {
  transform: translate(5vw, -5vh);
  border-radius: 2rem;
  backdrop-filter: blur(12px);
  background-color: rgb(255, 230, 237, 0.7);

  padding: 2rem;
  max-width: 70vw;
}

/* FONTS AND TYPOGRAPHY -----------------------------*/
.hero h1 {
  font-size: 3.125rem;
  margin: 1rem 0 1rem 0;
}

/* BUTTONS ----------------------------------------- */
.heroActions {
  margin-top: 3rem;
}

.heroActions .btnPrimary {
  margin-right: 2rem;
}

.btn {
  font-size: 1.125rem;
}

.btnPrimary {
  background-color: #ffb7cd;
  padding: 1rem;
  border-radius: 1rem;
  transition: background-color 0.1s ease-in-out;
}

.btnPrimary:hover {
  background-color: #df98ad;
  color: black;
}

.btnOutline {
  border-bottom: 0.1px solid transparent;
  transition:
    border-bottom 0.3s ease-in-out,
    color 0.1s ease-in-out;
}

.btnOutline:hover {
  border-bottom: 0.1px solid black;
}

/* LINKS ------------------------------------------------- */
a:hover {
  color: black;
}
