.grid {
  display: grid;
}

#services {
  padding: 2rem 0;
}

#services h2 {
  margin-bottom: 4rem;
}

.serviceSection h4 {
  padding-bottom: 1rem;
}

.priceText {
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.serviceSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 4rem;
}

.serviceContainer h3 {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1px solid black;
}

.serviceContainer {
  width: 90%;
  margin-bottom: 4rem;
}

.priceText p {
  line-height: 1.6;
}

.servicesItem {
  width: 100%;
}
